$color_1: #ffffff;
$color_2: #0aff31;
$color_3: black;
$color_4: rgba(255, 255, 255, 0.82);
$color_5: #306BF0;
$color_6: white;
$color_7: rgb(0, 0, 0);
$color_8: #2fd499;
$color_9: rgba(252, 251, 251, 0.92);
$color_10: #ffff;
$color_11: 306BF0;
$font-family_1: Roboto, "Helvetica Neue", sans-serif;
$font-family_2: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$background-color_1: #00640005;
$background-color_2: transparent;
$background-color_3: rgba(255, 255, 255, 0.778);
$background-color_4: #20a58b;
$background-color_5: white;
$background-color_6: #ffffffad;
$background-color_7: #29C391;
$background-color_8: #328b6f;
$background-color_9: #6dfd9365;
$border-color_1: #07de7a;